body{

    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/*primary section*/

.primary-button{
    color:  #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    background: #FD6E0A;
}
.primary-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;

       
    
}
/*primary section end*/

.nav-header{
    display: flex;
    align-items: center;
    margin: 0 150px;
    justify-content: space-between;
    /* border: 2px solid black; */
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.span-nav{
    color:  #FD6E0A;
}
nav>ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;

}
nav a{
    text-decoration: none;
    margin-right: 50px;
    color:  #474747;
    font-size: 20px;
    font-weight: 400;
}
.header{
    background-color: #FFF8F3;
    background-image:url(../portfolio-resources-main/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 650px;
    
}
.div-mery-container{
    display: flex;
    padding: 30px 30px 0px 150px;
    align-items: center;
    justify-content: space-between;
}
.mery-container{
    max-width: 500px;
}
.div-header-title3{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;

}
.div-header-title{
    color: #181818;
    font-size: 70px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom:20px ;
}
.header-description{
    margin-top: 0px;
    margin-bottom: 0px;
}
.contact-button{
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color:#FFF8F3 ;
    
}
.header-img{
    width: 500px ;
    height: 550px;
}
/*main section start*/
main{
    /* border: 2px solid black; */
    max-width: 1000px;
    margin: 0px auto;
}

/*about section start*/
.about{
    background-color:#FFF8F3;
    margin: 100px 0;
    padding: 130px;
    border-radius: 10px;
}
.section-title-primary{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0px;

}
.about-description{
    text-align: center;
    margin-bottom: 20px;
}

.info-container{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
}
.about-info{
    text-align: center;
    
}
.about-info-title{
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0px;
}
.about-info-discription{
    color:  #474747;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}
/*about section end*/

/*what i do section start*/

.title-section{
    margin: 0px 140px;
}


.title-description{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.icon-section{
    display: flex;

}
.icon-container{
    /* border: 2px solid red; */
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-right: 10px;
    margin-left: 10px;
    
    padding: 30px;
}
.icon-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}
/*what i do section end*/
/*resume section start*/
.resume-container{
    display: flex;
    /* border: 3px solid darkblue; */
}
.resume-item-container{
  margin-right: 30px;
}
.resume-title{
    /* border: 1px solid yellow; */
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin:100px 0px ;

}

.resume-education-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.education-item-subject{
    color:  #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0px;
}
.education-item-university{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;

}
.experience-item-title{
    color:  #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0px;
}
.experience-item-date{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
}
.download-cv-resume{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/*resume section end*/

/*main section end*/